* {
  padding:0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 
body {
  background-repeat:no-repeat; /* Indicamos que no se repetira */
  background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
  line-height:20px;
}

